@import "../app/styles/variables.scss";

.card {
  border-radius: 0.5rem;
  border: 1px solid $secondary-grey-color;
  padding: 2rem;
  background-color: $primary-white-color;
  box-shadow: $card-shadow;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.05);
  }

  & h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: $primary-mint-color;
    font-style: oblique;
  }

  & p {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  & .year,
  & .price {
    color: $primary-mint-color;
    font-weight: bold;
  }

  & .buttonsContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & .formElement {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 0.5rem;

      & label {
        width: 6rem;
      }

      & input {
        width: 15rem;
        padding: 0.5rem;
        border: 1px solid $primary-mint-color;
        border-radius: 0.4rem;
      }
    }
  }
}
